@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  overflow: hidden;

  /* Base colors */
  --caramel: 235, 219, 178;
  --caramel-400: 243, 234, 210;
  --caramel-700: 212, 177, 89;
  --black: 40, 40, 40;
  --black-700: 29, 32, 33;
  --white: 255, 255, 255;
  --purple: 211, 134, 155;
  --blue: 131, 165, 152;
  --red: 251, 73, 52;
  --green: 184, 187, 38;
  --aqua: 142, 192, 124;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 3rem;
  --size-10: 4rem;
  --size-11: 5rem;
  --size-12: 6rem;

  --radius-1: 2px;
  --radius-2: 5px;
  --radius-3: 1rem;
  --radius-4: 2rem;
  --radius-5: 4rem;

  /* Default colors */
  --bg: var(--caramel);
  --default-text: var(--black);

  /* Form control */
  --form-control-bg: var(--caramel-400);
  --form-control-color: var(--black);
}

html.dark {
  --bg: var(--black);

  /* Form control */
  --form-control-bg: var(--black-700);
  --form-control-color: var(--white);

  --default-text: var(--white);
}

html {
  background-color: rgb(var(--bg));
  color: rgb(var(--default-text));
  font-family: 'Inter', sans-serif;
}

.form-control {
  --bg: var(--form-control-bg);
  --color: var(--form-control-color);
  --font-size: 0.9375rem;
  --radius: 12px;
  --size-x: 1rem;
  --size-y: 0.75rem;
  --outline-color: 0, 0, 0, 0;
  --opacity: 1;
  background-color: rgb(var(--bg));
  border: none;
  padding: var(--size-y) var(--size-x);
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--font-size);
  color: rgb(var(--color));
  outline: 2px solid rgba(var(--outline-color));
  transition: outline-color 150ms;
  opacity: var(--opacity);
}

.form-control-invalid .form-control {
  --outline-color: var(--red);
}

.form-control-invalid {
  color: rgb(var(--red));
}

.form-control-invalid > .form-control:focus {
  --outline-color: var(--red);
}

.form-control:focus {
  --outline-color: var(--caramel-700);
}

.form-control:disabled {
  --opacity: 0.7;
}

.form-control::placeholder {
  color: rgba(var(--color), 0.6)
}

::view-transition-old(cross-fade) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(cross-fade) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.backwards::view-transition-old(cross-fade) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

.backwards::view-transition-new(cross-fade) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}


::view-transition-new(full-thumbnail),
::view-transition-old(full-thumbnail) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}

::view-transition-old(main-header) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

::view-transition-new(main-header) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}

::view-transition-image-pair(full-thumbnail) {
  isolation: none;
}

.cross-fade {
  view-transition-name: cross-fade;
}

.full-thumbnail {
  view-transition-name: full-thumbnail;
  contain: layout;
}

.full-category {
  view-transition-name: full-category;
  contain: layout;
}

.main-header {
  view-transition-name: main-header;
  contain: layout;
}

.hide-scroll {
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-top {
  to { transform: translateY(-30px); }
}

@keyframes slide-from-bottom {
  from { transform: translateY(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

@keyframes slide-to-right {
  to { transform: translateX(30px); }
}

@keyframes slide-from-left {
  from { transform: translateX(-30px); }
}

.leave {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

.enter {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.backwards.enter {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

.backwards.leave {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

.recipe-instructions h2 {
  @apply text-sm tracking-widest font-medium uppercase mb-3;
}

.recipe-instructions ul,
.recipe-instructions ol {
  @apply list-inside space-y-2 mb-8;
}

.recipe-instructions ul {
  @apply list-disc;
}

.recipe-instructions ol {
  @apply list-decimal;
}
